@page "/species/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Especie</h3>

<SpecieForm @ref="specieForm" Specie="specie" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Specie specie = new();
    private SpecieForm? specieForm;

    private async Task Create()
    {
        var httpResponse = await repository.Post("api/species", specie);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            specieForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("species");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/species");
    }
}
